<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="https://checkstyle.org/schema/1.0/checkstyle"
        name="Checker">

    <module name="TreeWalker">

        <module name="Indentation">
            <property name="basicOffset" value="4"/>
            <property name="braceAdjustment" value="0"/>
            <property name="caseIndent" value="4"/>
        </module>

        <module name="TypeName"/>
        <module name="MethodName"/>
        <module name="ParameterName"/>
        <module name="LocalVariableName"/>

        <module name="JavadocMethod">
            <property name="scope" value="public"/>
            <property name="allowMissingParamTags" value="true"/>
            <property name="allowMissingThrowsTags" value="true"/>
        </module>

        <module name="UnusedImports"/>

    </module>
</module>
