name: Java CI with Maven

on:
  push:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
#      - name: Check code style
#        run: mvn checkstyle:check
      - name: Build and test with coverage
        run: mvn verify jacoco:report
      - name: Cache OWASP Dependency Check data
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository/org/owasp/dependency-check-data
          key: owasp-${{ runner.os }}
      - name: Security scan
        run: mvn org.owasp:dependency-check-maven:check
